.Ready {
  color: yellowgreen;
}

.Unresponsive {
  color: darkorange;
}

.Unknown {
  color: red;
}
.mat-card {
  justify-content: center;
  width: 100%;
}

.mat-card-header {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-cell {
  white-space: pre-wrap;
}
