<form [formGroup]="chaosForm" (ngSubmit)="onSubmit()" class="chaos-form">
  <mat-card class="chaos-card">
    <mat-card-header>
      <mat-card-title>
        Chaos Experiment Configuration
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- ChaosCodex -->
      <div formGroupName="ChaosCodex">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Chaos Codex</mat-panel-title>
          </mat-expansion-panel-header>
          <!-- ChaosConfigs -->
          <div formGroupName="ChaosConfigs">
            <mat-tab-group>
              <mat-tab *ngFor="let configName of ['Computation', 'Database', 'Connector']" label="{{ configName }}">
                <div [formGroupName]="configName">
                  <div formGroupName="Value">
                    <mat-form-field appearance="outline">
                      <mat-label>CPUs</mat-label>
                      <input matInput type="number" [min]="0.01" [max]="10" formControlName="CPUs">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Memory (mb)</mat-label>
                      <input matInput type="number" [min]="16" [max]="16000" formControlName="Memory">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Max Number Of Pods</mat-label>
                      <input matInput type="number" formControlName="MaxNumberOfPods">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Kills/Min</mat-label>
                      <input matInput type="number" [max]="60" [min]="0" formControlName="KillRate">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Hardware Failure/Min</mat-label>
                      <input matInput type="number" [max]="60" [min]="0" formControlName="HardwareFailures">
                    </mat-form-field>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
          <!-- Other ChaosCodex properties -->
          <mat-form-field appearance="outline">
            <mat-label>Test Duration in Minutes</mat-label>
            <input matInput type="number" [max]="30" [min]="0" formControlName="Duration">
          </mat-form-field>
        </mat-expansion-panel>
      </div>
      <!-- Coordinates -->
      <div formGroupName="Coordinates">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Coordinates</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="outline">
            <mat-label>Starting Coordinates</mat-label>
            <input matInput type="text" formControlName="StartingCoordinates">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Destination Coordinates</mat-label>
            <input matInput type="text" formControlName="DestinationCoordinates">
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
    <div style="text-align: center;">
      <mat-card-actions>
        <button mat-raised-button type="submit">Begin</button>
      </mat-card-actions>
    </div>
  </mat-card>
</form>
